<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logged in user</title>
</head>
<body>
    welcom{{request.user}}
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita quasi harum consequuntur placeat modi doloribus non distinctio rem explicabo praesentium? Sint asperiores consequuntur rerum dolorem, rem, temporibus sequi nam magnam amet labore error eaque qui soluta ad! Similique incidunt doloremque error mollitia dolorum beatae rerum maxime quod tempora possimus. Deleniti.

    </p>
    <a href="/logout">LogOut</a>
</body>
</html>